@using XUnitTestWebApp.Models

@model InvoiceViewModel

<form method="post" asp-action="CreateInvoice" asp-controller="Invoice" data-ajax="true" >
    <div class="col-sm-12">
        @for (int i = 0; i < Model.Lines.Count; i++) {
        InvoiceLineViewModel line = Model.Lines[i];

        <div class="col-sm-12 invoice-line" data-index="@i">
            <span>Line @i</span>
            <input asp-for="Lines[i].Id" hidden="hidden" />
            <div class="form-inline">
                <div class="form-group">
                    <label>Description</label>
                    <input asp-for="Lines[i].Description" />
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input asp-for="Lines[i].Qty" />
                </div>
                <div class="form-group">
                    <label>Rate</label>
                    <input asp-for="Lines[i].Rate" />
                </div>
            </div>
        </div>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>